body {
	padding: 0;
	margin: 0;
	}
html, body{
	height: 100%;
	}
#map {
	height: 100%;
	width:100%
	float:left;
	}
.lateral{
	float:right;
	width:20%;
	max-width:300px;
	/*height: 95%;*/
	position: absolute; 
	right: 8px; 
	top: 8px; width:20%;float:left;z-index:100
	}
	#boton_ocultar_lateral{
		float:right;
		cursor:pointer;
		}
	#boton_mostrar_lateral{
		float:right;
		position: absolute; 
		right: 8px; 
		top: 8px;
		padding:10px;
		float:left;
		z-index:99;
		background-color:#3982c1;
		color:white;
		border-top-right-radius: 3px;
		border-top-left-radius: 3px;
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
		cursor:pointer;
		}
	.panel-title{
		font-weight:800;
		}
	#n_jobs_locates{
		float:right;
		margin:7px 0% 0% 0%
		}
	.caja_social{
		text-align:right;
		float:right;
		}
	.caja_languages{
		float:right;
		margin:0;
		}
	#contacto{
		margin-top:20px;
		float:right;
		}
	.caja_social_2{
		text-align:right;
		margin:30px; 
		}
	
#myModalContacto{
	display:hide;
	}
.leaflet-popup-content h1{
	font-size:12px;
	font-weight:800;
	color:#3982c1;
	}
.leaflet-popup-content .popUpTable{
	margin:0px;
	padding:0px;
	}
	.leaflet-popup-content .popUpTable td{
		vertical-align:top;
		}
		
