<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="http://leafletjs.com/dist/leaflet.css" />
	<script src="http://leafletjs.com/dist/leaflet.js"></script>
	<style>
	body {
		padding: 0;
		margin: 0;
	}
	html, body, #map {
		height: 100%;
	}
	</style>
	
</head>
<body>
	<div id="map"></div>
	
	<script>

		var map = L.map('map').setView([40.4167754, -3.7037902], 7);

		L.tileLayer('http://{s}.www.toolserver.org/tiles/bw-mapnik/{z}/{x}/{y}.png', {
			maxZoom: 10
		}).addTo(map);
		
		{% if enterprises_localizadas %}
			{% for empresa in enterprises_localizadas %}
				L.marker([{{ empresa.lat }}, {{ empresa.long }}]).addTo(map).bindPopup("{{ empresa.name }}").openPopup();
			{% endfor %}
		{% else %}
			alert("no hay empresas")
		{% endif %}

		function onMapClick(e) {
			popup
				.setLatLng(e.latlng)
				.setContent("You clicked the map at " + e.latlng.toString())
				.openOn(map);
		}

		map.on('click', onMapClick);

	</script>
</body>
</html>
Total de empresas: {{ n_enterprises }}<br />
Total de localizadas: {{ n_enterprises_localizadas }}<br />

{% if enterprises_localizadas %}

	{% for empresa in enterprises_localizadas %}
		{{ empresa.name }}</br>
		{{ empresa.lat }}</br>
		{{ empresa.long }}</br>
	{% endfor %}

{% else %}
	<p>NO hay empresas localizadas</p>
{% endif %}
  </body>
</html>

