{% load i18n %}
<!DOCTYPE html>
<html>
<head>
	<title>
		Where Is The Job?
	</title>
	<meta charset="utf-8" />
	<meta name="title" content="Where Is The Job?" />
	<meta name="description" content="{% trans 'Ofertas laborales georeferenciadas.' %}">
	<meta name="keywords" content="{% trans 'empleos,trabajo,mapa,ofertas,ofertas laborales.' %}ve">
	<link rel="image_src" href="{{ STATIC_URL }}mapa/imgs/facebook_mini.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- propios -->
	<link rel="stylesheet" href="{{ STATIC_URL }}mapa/css/main.css" />
	<!-- del leafletjs -->
	<link rel="stylesheet" href="http://leafletjs.com/dist/leaflet.css" />
	<!-- del markercluster -->
	<link href='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
	<link href='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}mapa/js/leaflet.markercluster/MarkerCluster.Default.ie.css" /><![endif]-->
	<!-- Bootstrap 3.1.1  -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
	<!-- del datepiker -->
	<link href="{{ STATIC_URL }}mapa/js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
	<!-- del boton con el spinner -->
	<link rel="stylesheet" href="{{ STATIC_URL }}mapa/js/ladda-bootstrap/dist/ladda-themeless.min.css">
	<!-- del multiselects -->
	<link rel="stylesheet" href="{{ STATIC_URL }}mapa/js/bootstrap-multiselect/css/bootstrap-multiselect.css" type="text/css"/>
	<!-- del slider -->
	<link rel="stylesheet" href="{{ STATIC_URL }}mapa/js/slider/css/slider.css" type="text/css"/>
</head>
<body>
	<div id="map">
	</div>
	<span id="boton_mostrar_lateral" class="glyphicon glyphicon-resize-full"></span>
	<div class="panel panel-primary lateral">
		<div class="panel-heading">
			<h3 class="panel-title">
				Where is the job?
				<span id="boton_ocultar_lateral" class="glyphicon glyphicon-resize-small"></span>
			</h3>
		</div>
		<div class="panel-body">
			<div class="caja_languages">
				<form action="{% url 'set_language' %}" name="languages_form" method="post">
					{% csrf_token %}
					{% get_language_info_list for LANGUAGES as languages %}
					{% for language in languages %}
						{% if language.code != LANGUAGE_CODE %} 
							<input name="language" type="hidden" value="{{ language.code }}" />
							<a href="#" onclick="document.languages_form.submit();return false;">
								{{ language.name_local }}
							</a>
						{% endif %}
					{% endfor %}
				</form>			
			</div>
			<form action="" role="form" id="caja_formulario" style="clear:both;">
				<fieldset>
					<div class="form-group">
						<label for="dtp_input2" class="control-label">
							{% trans "Fuente:" %}
						</label>
						<br />
						<select class="multiselect" multiple="multiple" id="sources">
							{% if sources %}
								{% for source in sources %}
									<option value="{{source.idsource }}">
										{{source.name}}
									</option>
								{% endfor %}
							{% endif %}
						</select>
						<br />
						<label for="dtp_input2" class="control-label">
							{% trans "Desde:" %}
						</label>
						<div class="input-group date date_desde" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
							<input id="date_desde" class="form-control" type="text" value="{{date_desde}}" readonly>
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar">
								</span>
							</span>
						</div>
						<input type="hidden" id="dtp_input1" value="" />
						<label for="dtp_input2" class="control-label">
							{% trans "Hasta:" %}
						</label>
						<div class="input-group date date_hasta" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
							<input id="date_hasta" class="form-control" type="text" value="{{date_hasta}}" readonly>
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar">
								</span>
							</span>
						</div>
						<input type="hidden" id="dtp_input1" value="" />
						<label for="dtp_input2" class="control-label">
							{% trans "Categoria:" %}
						</label>
						<br />
						<select class="multiselect" multiple="multiple" id="categories" >
							{% if categories %}
								{% for category in categories %}
									<option value="{{category.idcategory }}">
										{{category.name}}
									</option>
								{% endfor %}
							{% endif %}
						</select>
						<br />
						<label for="dtp_input2" class="control-label">
							{% trans "Provincia:" %}
						</label>
						<br />
						<select class="multiselect" multiple="multiple" id="provinces">
							{% if provinces %}
								{% for province in provinces %}
									<option value="{{province.idprovince }}">
										{{province.name}}
									</option>
								{% endfor %}
							{% endif %}
						</select>
						<br />
						<label for="dtp_input2" class="control-label">
							{% trans "Salario:" %}
						</label>
						<br/>
						<input type="text" class="span2" id="salario" style="width:100%;border:solid 1px;" value=""
							data-slider-min="0" data-slider-max="3000"
							data-slider-step="100" data-slider-value="[0,3000]" >
						<br />
					</div>
				</fieldset>
				<div>
					<button class="btn btn-success ladda-button" id="buscar" data-style="zoom-out">
						<span class="ladda-label"> <span class="glyphicon glyphicon-search"></span> Buscar </span>
						<span class="ladda-spinner"></span>
						<div class="ladda-progress" ></div>
					</button>
					<span class="badge" id="n_jobs_locates" >
						
					</span>
				</div>
				<!--<p>
					<strong>
						Total de empleos:
					</strong>{{n_jobs}}
				</p>
				<p>
					<strong>
						Total empleos georeferenciados:
					</strong>{{n_jobs_locates}}
				</p>
				<p>
					<strong>
						Total empresas:
					</strong>{{n_enterprises}}
				</p>
				<p>
					<strong>
						Total empresas georeferenciados:
					</strong>{{n_enterprises_locates}}
				</p>-->
			</form>
			<div class="caja_social" style="float:right;">
				<a class="socialIcons" href="http://www.facebook.com/sharer.php?u=whereisthejob.puigverd.org/mapa" target="_blank" title="Facebook" alt="Facebook">
					<img src="{{ STATIC_URL }}mapa/imgs/facebook.png" />
				</a>
				<a class="socialIcons" href="http://twitter.com/share?url=http://whereisthejob.puigverd.org/mapa" target="_blank" title="Twitter" alt="Twitter">
					<img src="{{ STATIC_URL }}mapa/imgs/twitter.png" />
				</a>
				<a class="socialIcons" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://whereisthejob.puigverd.org/mapa&amp;title=whereisthejob&amp;summary=Mapa" target="_blank" title="Linkedin" alt="Linkedin">
					<img src="{{ STATIC_URL }}mapa/imgs/linkedin.png" />
				</a>
			</div>
		</div>
	</div>
	
	<!-- Ventana modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="myModalLabel">
						Where is the job?
					</h4>
				</div>
				<div class="modal-body">
					<p>
						{% trans "Este es un agregador RSS de los empleos publicados por diferentes fuentes." %}
					</p>
					<p>
						{% trans "Ten en cuenta que la actualización de los datos se realiza automáticamente, así como la localización de cada oferta laboral  por lo que las informaciones pueden no corresponder con las ofertas reales." %}
					</p>
					<p>
						{% trans "Por favor acude siempre a la fuente original para obtener la información más fiable." %}
					</p>
					<button type="button" id="contacto" class="btn btn-success dropdown-toggle " data-toggle="Contacto">
						{% trans "Contacto" %}
					</button>
					<br />
				</div>
				<div class="caja_social_2">
					<a class="socialIcons" href="http://www.facebook.com/sharer.php?u=whereisthejob.puigverd.org/mapa&amp;t=Mapa" target="_blank" title="Facebook" alt="Facebook">
						<img src="{{ STATIC_URL }}mapa/imgs/facebook.png" />
					</a>
					<a class="socialIcons" href="http://twitter.com/share?url=http://whereisthejob.puigverd.org/mapa" target="_blank" title="Twitter" alt="Twitter">
						<img src="{{ STATIC_URL }}mapa/imgs/twitter.png" />
					</a>
					<a class="socialIcons" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://whereisthejob.puigverd.org/mapa&amp;title=whereisthejob&amp;summary=Mapa" target="_blank" title="Linkedin" alt="Linkedin">
						<img src="{{ STATIC_URL }}mapa/imgs/linkedin.png" />
					</a>
					<br />
				</div>
			</div>
		</div>
	</div>
	
	<!-- Ventana modal contacto-->
	<div class="modal fade" id="myModalContacto">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">
						{% trans "Formulario de contacto" %}
					</h4>
				</div>
				<div class="modal-body">
					<div class="modal-body">
					<form class="" role="search">
						<label for="dtp_input2" class="control-label">
							{% trans "Nombre:" %}
						</label>
						<input type="text" id="nombre" class="form-control" placeholder="Search">
						<label for="dtp_input2" class="control-label">
							{% trans "Mail:" %}
						</label>
						<input type="text" id="mail" class="form-control" placeholder="Search">
						<label for="dtp_input2" class="control-label">
							{% trans "Texto:" %}
						</label>
						<textarea id="texto" class="form-control" rows="3"></textarea>
					</form>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						{% trans "Salir" %}
					</button>
					<button type="button" class="btn btn-primary" id="enviarContacto">
						{% trans "Enviar" %}
					</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	<!-- del leaflet -->
	<script src="http://leafletjs.com/dist/leaflet.js"></script>
	<!-- del markercluster -->
	<script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
	<!-- del jquery para el bootstrap  -->
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js" charset="UTF-8"></script>
	<!-- del bootstrap para el bootstrap  -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<!-- del datetimepicker  -->
	<script type="text/javascript" src="{{ STATIC_URL }}mapa/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}mapa/js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.es.js" charset="UTF-8"></script>
	<!-- del boton con el spinner -->
	<script src="{{ STATIC_URL }}mapa/js/ladda-bootstrap/dist/spin.min.js"></script>
	<script src="{{ STATIC_URL }}mapa/js/ladda-bootstrap/dist/ladda.min.js"></script>
	<!-- del multiselects -->
	<script type="text/javascript" src="{{ STATIC_URL }}mapa/js/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
	<!-- del slicer -->
	<script type="text/javascript" src="{{ STATIC_URL }}mapa/js/slider/js/bootstrap-slider.js"></script>
	
	<script type="text/javascript">
		$('.date_desde').datetimepicker({
			language:  'es',
			weekStart: 1,
			todayBtn:  1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 2,
			minView: 2,
			forceParse: 0,
			pickerPosition: "bottom-left",
			format: 'yyyy-mm-dd'
		});
		$('.date_hasta').datetimepicker({
			language:  'es',
			weekStart: 1,
			todayBtn:  1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 2,
			minView: 2,
			forceParse: 0,
			pickerPosition: "bottom-left",
			format: 'yyyy-mm-dd'
		});
		
		$('#contacto').on('click', function (e) {
			$('#myModal').modal('hide');
			$('#myModalContacto').modal('show');
			}
		);
		$('#enviarContacto').on('click', function (e) {
			$('#myModalContacto').modal('show');
			
			jQuery.ajaxSettings.traditional = true;  // para desactivar lacodificacion por defecto de los brakets %5B%5D -> http://stackoverflow.com/questions/2695659/jquery-ajax-makes-the-wrong-request-with-array-data
			$.ajax({
				type: "GET",
				url: "{% url 'enviarContacto' %}",
				data: {
					nombre: $('#nombre').val(),
					mail: $('#mail').val(),
					texto: $('#texto').val(),
				},
				success: function(data){
					$('#myModalContacto').modal('hide');
					},
				});
			$('#myModalContacto').modal('hide');
			}
		);
		$('#buscar').on('click', function (e) {
			e.preventDefault();				//spinner
			var l = Ladda.create(this);
			l.start();
			
			jQuery.ajaxSettings.traditional = true;  // para desactivar lacodificacion por defecto de los brakets %5B%5D -> http://stackoverflow.com/questions/2695659/jquery-ajax-makes-the-wrong-request-with-array-data
			
			if($('#salario').val() == "0,3000"){
				salario = null
				}
			else{
				salario = $('#salario').val();
				}
			$.ajax({
				type: "GET",
				url: "{% url 'getJobs' %}",
				data: {
					date_desde: $('#date_desde').val(),
					date_hasta: $('#date_hasta').val(),
					categories: $('#categories').val(),
					provinces: $('#provinces').val(),
					sources: $('#sources').val(),
					salario: salario
				},
				success: function(data){
					$("#n_jobs_locates").text("#"+data['n_jobs_locates']);
					getPois(data['jobs_locates']);
					l.stop();
					},
				//error: function(xhr, textStatus, errorThrown) {
				//	alert("Please report this error: "+errorThrown+xhr.status+xhr.responseText);
				//}
				});
			});
			
		var map = L.map('map');
		loca_cat = {{ loca_cat }};
		if( loca_cat == true ){
			southwest = new L.LatLng(42.857846,0.41748);			//Centrar el mapa a cataluña
			northeast = new L.LatLng(40.667879,3.284912);
			}
		else{
			southwest = new L.LatLng(43.4210,-9.1406);			//Centrar el mapa a un rectangulo con el max zoom possible
			northeast = new L.LatLng(35.4965,6.1523);
			}
		bounds = new L.LatLngBounds(southwest, northeast);
		map.fitBounds(bounds);
		L.tileLayer('http://{s}.www.toolserver.org/tiles/bw-mapnik/{z}/{x}/{y}.png').addTo(map);

		//Extend the Default marker class
		var RedIcon = L.Icon.Default.extend({
			options: {
				iconUrl: '{{ STATIC_URL }}mapa/imgs/marker-icon-red.png',
			}
		});
		var redIcon = new RedIcon();

		var markers = new L.MarkerClusterGroup();
		
		markers.on('click', setPopUpInf);//escucha el evento clic de los markers

		function setPopUpInf(marker) {
			var idempleo = marker.layer.idempleo;
			jQuery.ajaxSettings.traditional = true;  // para desactivar lacodificacion por defecto de los brakets %5B%5D -> http://stackoverflow.com/questions/2695659/jquery-ajax-makes-the-wrong-request-with-array-data
			$.ajax({
				type: "GET",
				url: "{% url 'getJob' %}",
				data: {
					idempleo: idempleo
				},
				success: function(data){
					var job;
					job = data['job'][0].fields;
					job.idempleo = data['job'][0].pk;
					bodyPopUp ="<h1><a href='http://"+ job.link +"' target='blank'>"+job.titulo+"</a></h1><table cclass='popUp'>";;
					//if (job.idempleo)bodyPopUp +="<tr><td class='idempleo'> Idempleo </td><td>"+ job.idempleo +"</td></tr>";
					if (job.data_publication)bodyPopUp +="<tr><td> {% trans 'Publicación:' %} </td><td>"+ job.data_publication +"</td></tr>";
					if (job.idcategory)bodyPopUp +="<tr><td> {% trans 'Categoria:' %} </td><td>"+ job.idcategory +"</td></tr>";
					if (job.municipio)bodyPopUp +="<tr><td> {% trans 'Municipio:' %} </td><td>"+ job.municipio +"</td></tr>";
					if (job.idprovince)bodyPopUp +="<tr><td> {% trans 'Provincia:' %} </td><td>"+ job.idprovince +"</td></tr>";
					//if (job.idcountry)bodyPopUp +="<tr><td> País </td><td>"+ job.idcountry +"</td></tr>";
					if (job.vacantes)bodyPopUp +="<tr><td> {% trans 'Vacantes:' %} </td><td>"+ job.vacantes +"</td></tr>";
					if (job.identerprise){
						if (job.enterprise_url){
							bodyPopUp +=
							"<tr><td> {% trans 'Empresa' %} </td><td><a href='http://"+ job.enterprise_url +"' target='blank'>"+ job.identerprise +"</a></td></tr>"
							}
						else{
							bodyPopUp +="<tr><td> {% trans 'Empresa' %} </td><td>"+ job.identerprise +"</td></tr>";
							}	
						}
					if (job.salario)bodyPopUp +="<tr><td> {% trans 'Salario:' %} </td><td>"+ job.salario +"</td></tr>";
					if (job.duracion)bodyPopUp +="<tr><td> {% trans 'Duracion:' %} </td><td>"+ job.duracion +"</td></tr>";
					if (job.horario)bodyPopUp +="<tr><td> {% trans 'Horario:' %} </td><td>"+ job.horario +"</td></tr>";
					if (job.idsource)bodyPopUp +="<tr><td> {% trans 'Fuente:' %} </td><td>"+ job.idsource +"</td></tr>";
					if (job.idminimun_studies)bodyPopUp +="<tr><td> {% trans 'Estudios:' %} </td><td>"+ job.idminimun_studies +"</td></tr>";
					if (job.idlevel)bodyPopUp +="<tr><td> {% trans 'Nivel:' %} </td><td>"+ job.idlevel +"</td></tr>";
					if (job.idworkday)bodyPopUp +="<tr><td> {% trans 'Horario:' %} </td><td>"+ job.idworkday +"</td></tr>";
					if (job.idcontract_ty)bodyPopUp +="<tr><td> {% trans 'Contrato:' %} </td><td>"+ job.idcontract_type +"</td></tr>";
					if (job.link)bodyPopUp +="<tr><td> {% trans 'Más Inf' %} </td><td><a href='http://"+ job.link +"' target='blank'>[+]</a></td></tr>";
					bodyPopUp +="</table>";
					marker.layer._popup.setContent(bodyPopUp);
					},
				error: function(xhr, textStatus, errorThrown) {
					alert("Error recuperando el empleo inf: "+errorThrown+xhr.status+xhr.responseText);
					}
				});
		}//Fin setPopUpInf
		
		function getPois(data){
			markers.clearLayers();
			$.each( data, function( index, job ) {
				job.f.idempleo = job.pk
				job = job.f;
				bodyPopUp ="<h1>"+job.t+"</h1><table cclass='popUp'>";;
				if (job.idempleo )bodyPopUp +="<tr><td class='idempleo'> {% trans 'Idempleo' %} </td><td>"+ job.idempleo +"</td></tr>";
				bodyPopUp +="</table>";
				var lat = job.c.split(",")[0].replace('(','');
				var lng = job.c.split(",")[1].replace(')','');
				var latlng = L.latLng(lat,lng);
				titulo = job.t;
				//var marker = L.marker(latlng, { icon: redIcon, title: titulo });
				var marker = L.marker(latlng, { title: titulo });
				marker.bindPopup( bodyPopUp );
				marker.idempleo=job.idempleo
				markers.addLayer( marker );
			});
			map.addLayer(markers);
			}//Fin getPois
			
		Ladda.bind( '#buscar' );//del spiner
		
		$("#boton_mostrar_lateral").click(function(){
			$('.lateral').show("swing");
		});
		$("#boton_ocultar_lateral").click(function(){
			$('.lateral').hide("linear");
		});
		$( "#setLang" ).click(function() {
			$( "#setLangForm" ).submit();
		});
		$(document).ready(function() {
			$('#sources').multiselect({
				buttonWidth:$('#caja_formulario').innerWidth(),
				maxHeight: 240,
				});
			if(loca_cat==true){
				$('#sources').multiselect('select', '2');
				}
			$('#categories').multiselect({
				buttonWidth:$('#caja_formulario').innerWidth(),
				maxHeight: 240,
				});
			$('#provinces').multiselect({
				buttonWidth:$('#caja_formulario').innerWidth(),
				maxHeight: 240,
				});
			$('#salario').css("width", $('#caja_formulario').innerWidth());
			$('#salario').slider();
			if( document.URL.indexOf('puigverd') != -1 ) $('#myModal').modal('show');
			$("#buscar").click();
		});
	</script>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-47508055-2']);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</body>
</html>


